page-recovery {
  .botonEnviar{
    margin-top: 20px;
    height: 45px;
  }
  .textoRecuperacion{
    color:#062F51;
    text-align: center;
    margin-top:20px;
    margin-bottom:20px;
    font-size:1em;
    font-weight: 200;
    line-height: 130%;
  }
}
