page-start {
  ion-content{
    background: #fafafa!important;
  }
  .contenedorLogo{
    width: 50%;
    margin-left: 25%;
    margin-top: 50px;
  }
  ion-slides{
    height: 60vh;
  }
  .contenedorBotones{
    text-align: center;
  }
  .botonInicio{
    height: 50px;
  }

}
