page-recipes {
 .especialidad{
   text-align: right;
   margin-right: 20px;
   color:grey;
   font-weight: 500;
   span{
     color:#00B6A3;
     margin:0!important;
     padding:0!important;
     text-align: left;
   }
 }
 .iconoReceta{
   text-align: center;
   h4{
     color:grey;
     text-align: center;
     margin-top:10px;
   }
   ion-icon{
     color:#007198;
     font-size:3em;
   }
 }
 .doctor{
   text-align: right;
   margin-right:20px;
   color:grey;
 }


}
