<ion-header>
    <ion-navbar color="primary" hideBackButton="true">
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title> Mi Citas </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list *ngFor='let task of tasks'>
        <ion-card (click)="gotoDetails(task)" class="bordeDerecho" *ngIf="task ">
            <ion-item>
                <ion-row>
                    <ion-col col-4>
                        <ion-avatar item-start>
                            <img src="http://dappapache02.eastus.cloudapp.azure.com:4200/img/professionals/{{task.professional.id}}.png">
                        </ion-avatar>
                    </ion-col>
                    <ion-col col-8>
                        <h3 class="tituloCitas">Dr. {{task.professional.fullName | slice:0:25 | lowercase}}</h3>
                        <p class="especialidad">{{ task.service.basicService.description | lowercase }}</p>
                        <p class="sede">{{ task.service.center.name | lowercase }}</p>
                    </ion-col>
                    <ion-col col-12 class="gris">
                        <ion-row>
                            <ion-col class="diaCita">
                                <p class="day">{{ task.appointmentDateTime | date:'EEEE d , MMMM ' : 'es' }} </p>
                            </ion-col>
                            <ion-col class="hourCita">
                                <p class="hour">{{ task.appointmentDateTime | date: 'HH:mm' }}</p>
                            </ion-col>
                        </ion-row>

                    </ion-col>
                </ion-row>
            </ion-item>
        </ion-card>
    </ion-list>
    <p *ngIf="mostrar == 0" class="textoCitasNulo">No tienes citas programadas</p>
</ion-content>