<ion-header>
    <ion-navbar color="primary" hideBackButton="true">
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title> Mi citas </ion-title>
    </ion-navbar>
    <ion-toolbar color="primary">
      <ion-segment [(ngModel)]="citas" color="secondary">
        <ion-segment-button value="citaspasadas">
          <p>Citas Pasadas</p>
        </ion-segment-button>
        <ion-segment-button value="miscitas">
          <p>Proximas citas</p>
        </ion-segment-button>
        <!-- <ion-segment-button value="citasfamiliares">
          <p>citas familiares</p>
        </ion-segment-button> -->
      </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="citas">
    <div *ngSwitchCase="'citaspasadas'">
      <div class="containerDepends">
          <ion-row>
            <ion-col col-3>
              <button ion-button
              class="botonConImagen"
                      (click)="getDatesUser()">
                <img src="" alt="">
              </button>
              <p class="nombreUsuarios">principal</p>
            </ion-col>
            <ion-col *ngFor="let dep of dependens">
              <button ion-button
              class="botonConImagen"
                      (click)="getDatesDepends(dep)">
                  <img src="" alt="">
              </button>
              <p class="nombreUsuarios">{{dep.name}}</p>
            </ion-col>
          </ion-row>
      </div>
        <ion-list *ngFor='let citaspa of citaspasadas'>
            <ion-card class="bordeDerecho" *ngIf="citaspa ">
                <ion-item>
                    <ion-row>
                        <ion-col col-4>
                            <ion-avatar item-start>
                                <img src="http://dappapache02.eastus.cloudapp.azure.com:4200/img/professionals/{{citaspa.codigo_personal}}.png">
                            </ion-avatar>
                        </ion-col>
                        <ion-col col-8>
                            <h3 class="tituloCitas">{{citaspa.apellido1 | lowercase}} {{citaspa.apellido2 | lowercase}} {{citaspa.nombre | lowercase}}</h3>
                            <p class="especialidad">{{ citaspa.servicio_basico | lowercase }}</p>
                            <p class="sede">{{ citaspa.nombre_centro | lowercase }}</p>
                        </ion-col>
                        <ion-grid>
                          <ion-row *ngIf="citaspa.tiene_receta == 1">
                              <ion-col col-10 class="centrado">
                                  <p>receta para esta cita:</p>
                              </ion-col>
                              <ion-col col-2>
                                <button ion-button
                                clear
                                class="iconoDerecha">
                                    <ion-icon name="attach"
                                      (click)="goToRecipe(citaspa)">
                                    </ion-icon>
                                  </button>
                              </ion-col>
                            </ion-row>
                        </ion-grid>
                        <ion-col col-12 class="gris">
                            <ion-row>
                                <ion-col class="diaCita">
                                    <p class="day">{{ citaspa.fecha | date:'EEEE d , MMMM ' : 'es' }} </p>
                                </ion-col>
                                <ion-col class="hourCita">
                                    <p class="hour">{{ citaspa.hora | date: 'HH:mm' }}</p>
                                </ion-col>
                            </ion-row>
                        </ion-col>
                    </ion-row>
                </ion-item>
            </ion-card>
        </ion-list>
        <p *ngIf="sinpasadas == 0" class="textoCitasNulo">No tienes citas pasadas</p>
    </div>
      <div *ngSwitchCase="'miscitas'">
        <ion-list *ngFor='let task of tasks'>
        <ion-card (click)="goToDetailsTask(task)" class="bordeDerecho" *ngIf="task ">
            <ion-item>
                <ion-row>
                    <ion-col col-4>
                        <ion-avatar item-start>
                            <img src="http://dappapache02.eastus.cloudapp.azure.com:4200/img/professionals/{{task.professional.id}}.png">
                        </ion-avatar>
                    </ion-col>
                    <ion-col col-8>
                        <h3 class="tituloCitas">{{task.professional.fullName | slice:0:25 | lowercase}}</h3>
                        <p class="especialidad">{{ task.service.basicService.description | lowercase }}</p>
                        <p class="sede">{{ task.service.center.name | lowercase }}</p>
                    </ion-col>
                    <ion-col col-12 class="gris">
                        <ion-row>
                            <ion-col class="diaCita">
                                <p class="day">{{ task.appointmentDateTime | date:'EEEE d , MMMM ' : 'es' }} </p>
                            </ion-col>
                            <ion-col class="hourCita">
                                <p class="hour">{{ task.appointmentDateTime | date: 'HH:mm' }}</p>
                            </ion-col>
                        </ion-row>

                    </ion-col>
                </ion-row>
            </ion-item>
        </ion-card>
    </ion-list>
    <p *ngIf="mostrar == 0 || sinParents == 0" class="textoCitasNulo">No tienes citas programadas</p>

    <ion-list *ngFor='let taskpa of tasksParents'>
        <ion-card (click)="gotoDetails(taskpa)" class="bordeDerecho" *ngIf="taskpa.appointments[0]">
            <ion-item>
                <ion-row>
                    <ion-col col-4>
                        <ion-avatar item-start>
                            <img src="http://dappapache02.eastus.cloudapp.azure.com:4200/img/professionals/{{taskpa.appointments[0].professional.id}}.png">
                        </ion-avatar>
                    </ion-col>
                    <ion-col col-8>
                        <ion-row>
                          <ion-col col-12
                            class="nombreFamiliarBox">
                            <p class="nombreFamiliar">Cita para: {{taskpa.appointments[0].patient.name}}</p>
                          </ion-col>
                          <ion-col col-12>
                            <h3 class="tituloCitas">Dr. {{taskpa.appointments[0].professional.fullName | slice:0:25 | lowercase}}</h3>
                            <p class="especialidad">{{ taskpa.appointments[0].service.basicService.description | lowercase }}</p>
                            <p class="sede">{{ taskpa.appointments[0].service.center.name | lowercase }}</p>
                          </ion-col>
                        </ion-row>
                    </ion-col>
                    <ion-col col-12 class="gris">
                        <ion-row>
                            <ion-col class="diaCita">
                                <p class="day">{{ taskpa.appointments[0].appointmentDateTime | date:'EEEE d , MMMM ' : 'es' }} </p>
                            </ion-col>
                            <ion-col class="hourCita">
                                <p class="hour">{{ taskpa.appointments[0].appointmentDateTime | date: 'HH:mm' }}</p>
                            </ion-col>
                        </ion-row>

                    </ion-col>
                </ion-row>
            </ion-item>
        </ion-card>
    </ion-list>
      </div>
  </div>


</ion-content>
