<ion-header>

  <ion-navbar color="primary">
    <ion-title>Mis Parientes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div>
    <ion-card *ngFor="let depe of dependens">
      <ion-row>
        <ion-col col-4>
          <ion-avatar>
            <img src="../assets/imgs/avatars/nino.png" alt="">
          </ion-avatar>
        </ion-col>
        <ion-col col-8>
            <h3 class="nombrePariente">{{depe.name}}</h3>
            <p class="parentesco">{{depe.type}}</p>
            <p class="edad">7 años</p>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
  <div class="center">
    <button ion-button
            color="secondary"
            (click)="showForm()">
     Agregar familiar
    </button>
  </div>
  <div *ngIf="openForm == true"
        class="down20">
      <div class="cienPorCiento">
        <h3 class="tituloFamiliar">Creación de cuenta Adicional</h3>
      </div>

      <form [formGroup]="formFamily" (ngSubmit)="saveData(formFamily.value)" novalidate>
          <ion-list>
            <ion-grid>

              <ion-item>
                <ion-label fixed>Nombres:</ion-label>
                <ion-input formControlName="name" type="text" maxlength="40">
                </ion-input>
              </ion-item>

        <ion-item>
          <ion-label fixed>Apellido Paterno:</ion-label>
          <ion-input formControlName="paternal_surname" type="text" maxlength="40">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label fixed>Apellido Materno:</ion-label>
          <ion-input formControlName="maternal_surname" type="text" maxlength="40">
          </ion-input>
        </ion-item>

        <ion-col col-12>
          <ion-item>
            <ion-label fixed>Nacimiento:</ion-label>
            <ion-input type="date" formControlName="date_of_birth" name="date_of_birth"></ion-input>
          </ion-item>
        </ion-col>

        <ion-row>
          <ion-col col-6>
            <ion-item>
              <ion-label fixed>Sexo:</ion-label>
              <ion-select formControlName="gender" name="gender">
                <ion-option value="HOMBRE">M</ion-option>
                <ion-option value="MUJER">F</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>


        <ion-col col-6>
          <ion-item>
            <ion-label fixed>Documento:</ion-label>
            <ion-select [(ngModel)]="change" formControlName="type_document" name="type_document" floating>
              <ion-option value="D.N.I">DNI</ion-option>
              <ion-option value="carne_extranjeria">Carne de Extranjeria</ion-option>
              <ion-option value="pasaporte">Pasaporte</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>

        <ion-col col-12>
          <ion-item>
            <ion-label fixed> Nº Documento:</ion-label>
            <ion-input *ngIf="change === 'D.N.I'" type="number" formControlName="dni" name="dni" minlength="8" maxlength="8" floating></ion-input>
            <ion-input *ngIf="change === 'carne_extranjeria'" type="tel" formControlName="dni" name="dni" minlength="12" maxlength="12"
              floating></ion-input>
            <ion-input *ngIf="change === 'pasaporte'" type="tel" formControlName="dni" name="dni" minlength="12" maxlength="12" floating></ion-input>
            <!-- <p color="danger" ion-text *ngIf="registerForm.get('dni').hasError('required')">DNI requerido</p> -->
          </ion-item>
        </ion-col>
        </ion-row>
        </ion-grid>

        <ion-col col-12>
          <ion-item>
            <ion-label fixed>Parentesco:</ion-label>
            <ion-select formControlName="kindred" name="kindred" floating>
              <!-- <ion-option value="father">Padre</ion-option>
              <ion-option value="mother">Madre</ion-option> -->
              <ion-option value="hijo/a">hijo/a</ion-option>
              <!-- <ion-option value="daughter">Hija</ion-option>
              <ion-option value="uncle">Tio</ion-option>
              <ion-option value="aunt">Tia</ion-option> -->
            </ion-select>
          </ion-item>
        </ion-col>

            </ion-list>

            <button ion-button type="submit" [disabled]="!formFamily.valid" block color="secondary" class="guardaryContinuar">Guardar y continuar</button>
          </form>
  </div>

</ion-content>
