<ion-header>
    <ion-navbar color="primary" hideBackButton="true" persistent="true">
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title> Home Page</ion-title>
        <ion-buttons *ngIf="nombre"
                          end>
          <button ion-button
                  item-end
                  class="logueado"
                  clear>
                  Hola {{nombre}}
          </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>

<ion-content padding >

    <ion-card button class="principal" (click)="irACard()">
        <ion-item>
            <ion-row>
                <ion-col col-2>
                    <ion-icon name="contact"></ion-icon>
                </ion-col>
                <ion-col col-9>
                    <p class="reserve">Reservar cita</p>
                </ion-col>
                <ion-col col-1>
                    <ion-icon name="arrow-dropright"></ion-icon>
                </ion-col>
            </ion-row>
        </ion-item>
    </ion-card>

    <div class="down30">
        <mat-accordion padding>

            <mat-expansion-panel >
                <mat-expansion-panel-header>
                    <ion-col col-2>
                        <ion-icon name="alarm"></ion-icon>
                    </ion-col>
                    <ion-col col-8>
                        <p class="font11">Próxima Cita</p>
                      </ion-col>
                      <ion-col col-2>
                          <ion-badge *ngIf="citapendiente"
                                      class="badgeIcon"
                                      color="notifi" item-end>{{citapendiente}}
                          </ion-badge>
                    </ion-col>
                </mat-expansion-panel-header >
                <div class="containerExpand" >
                  <div *ngIf="tasks else notasks">
                    <div *ngFor="let task of tasks; first as isFirst">
                      <ion-row class="down10" *ngIf="isFirst">
                        <ion-col col-3>
                          <ion-avatar item-start>
                            <img src="http://dappapache02.eastus.cloudapp.azure.com:4200/img/professionals/{{task.professional.id}}.png">
                          </ion-avatar>
                        </ion-col>
                        <ion-col col-9 >
                          <h3 class="tituloCitas" [ngClass]="{celeste:''}">Dr.{{task.professional.fullName | slice:0:25 | uppercase}}</h3>
                          <p class="especialidad">{{ task.service.basicService.description | lowercase }} / {{ task.service.center.name }}</p>
                          <p class="day">{{ task.appointmentDateTime | date:'mediumDate' : 'es' }} - {{ task.appointmentDateTime | date: 'HH:mm' }} </p>
                        </ion-col>
                      </ion-row>
                    </div>
                      <div *ngIf="citasDepes">
                          <ion-row class="down10" >
                            <ion-col col-3>
                              <ion-avatar item-start>
                                <img src="http://dappapache02.eastus.cloudapp.azure.com:4200/img/professionals/{{citasDepes.professional.id}}.png">
                              </ion-avatar>
                            </ion-col>
                            <ion-col col-9 >
                              <p class="nombreDepe">cita para: {{citasDepes.patient.name}}</p>
                              <h3 class="tituloCitas" [ngClass]="{celeste:''}">Dr.{{citasDepes.professional.fullName | slice:0:25 | uppercase}}</h3>
                              <p class="especialidad">{{ citasDepes.service.basicService.description | lowercase }} / {{ citasDepes.service.center.name }}</p>
                              <p class="day">{{ citasDepes.appointmentDateTime | date:'mediumDate' : 'es' }} - {{ citasDepes.appointmentDateTime | date: 'HH:mm' }} </p>
                            </ion-col>
                          </ion-row>
                        </div>
                  </div>
                    <div *ngIf="tasks < 1">
                      <p  class="textoRecetas">En este momento no tienes citas proximas...</p>
                    </div>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <ion-col col-2>
                        <ion-icon name="medkit"></ion-icon>
                    </ion-col>
                    <ion-col col-8>
                        <p class="font11">Recetas y Medicamentos</p>
                    </ion-col>
                    <ion-col col-2>
                        <ion-badge *ngIf="recipendiente"
                                      class="badgeIcon"
                                      color="verde" item-end>1
                          </ion-badge>
                    </ion-col>
                </mat-expansion-panel-header>
                <div class="containerExpand">
                    <p *ngIf="!tasks" class="textoRecetas">Las recetas y médicamentos de sus últimas citas aparecerán aquí , despues de registrado</p>
                    <div *ngIf="tasks">
                      <div  *ngFor="let recipe of recipes; index as i; last as isLast">
                           <div *ngIf="i == 1">
                                  <ion-list class="contenedorReceta">
                                    <ion-item *ngFor="let receta of recipe.prescripciones">
                                      <ion-row>
                                        <ion-col col-3 class="contenedorIcono">
                                            <img src="assets/imgs/recipes/{{receta.formasfar_pk}}.png" alt="">
                                        </ion-col>
                                        <ion-col col-9 class="contendorNombrePastilla">
                                            <p class="nombreMedicamento">{{receta.marca_comercial}}</p>
                                            <p class="vecesXdia"> {{ 24 / receta.cada_x_horas}} veces por día</p>
                                        </ion-col>
                                      </ion-row>
                                    </ion-item>
                                  </ion-list>
                           </div>
                      </div>

                    </div>
                </div>
            </mat-expansion-panel>


        </mat-accordion>

    </div>
    <!-- <h1>home</h1>
    <p (click)="irACard()">Ir a Card</p> -->
</ion-content>
