<ion-menu [content]="contenido" persistent="true">
    <ion-header color="light">
        <!-- <ion-toolbar>
            <ion-title>More Health</ion-title>
        </ion-toolbar> -->
    </ion-header>
    <ion-content class="fondoColor">
      <div class="containerData">
        <ion-row>
          <!-- <ion-col col-12>
              <button ion-button text-center
              class="imagen"
              (click)="goPage(pro)"
              *ngIf="!foto">
                <ion-icon class="iconAdd flecha" name="add"></ion-icon>
              </button>
          </ion-col> -->
          <ion-col col-12 *ngIf="foto">
              <div class="imagenPerfil"
              (click)="goPage(pro)">
                <img src="{{foto}}?{{timemark}}" alt="">
              </div>
          </ion-col>
          <ion-col col-12 class="contenedorDatosUsuario">
            <p class="nombreUsuario" *ngIf="foto">{{patientName}}</p>
            <p class="correo" *ngIf="correo" >{{correo}}</p>
          </ion-col>
        </ion-row>

      </div>
        <ion-list class="lista">
            <button ion-item (click)="goPage(hom)" class="outLine">
            <ion-icon item-start name="home"></ion-icon>
            Home</button>

            <button ion-item (click)="goPage(car)" class="outLine">
            <ion-icon item-start name="medkit"></ion-icon>
            Reservar</button>

            <button ion-item (click)="goPage(myd)" *ngIf="userToken" class="outLine">
             <ion-icon item-start name="clipboard"></ion-icon>
             Mis citas</button>

             <button ion-item (click)="goPage(rep)" *ngIf="userToken" class="outLine">
              <ion-icon item-start name="document"></ion-icon>
              Mis recetas</button>

              <button ion-item (click)="goPage(mypa)" *ngIf="userToken" class="outLine">
              <ion-icon item-start name="people"></ion-icon>
              Mis parientes</button>

            <button ion-item (click)="goPage(log)" *ngIf="!userToken" class="outLine">
            <ion-icon item-start name="key"></ion-icon>
            Login</button>


            <button ion-item (click)="logout()" *ngIf="userToken" class="outLine">
            <ion-icon item-start name="close-circle"></ion-icon>
            terminar sesion</button>

        </ion-list>
    </ion-content>
</ion-menu>

<!-- regresarlo ap homePage -->
<ion-nav [root]="reg" #contenido></ion-nav>
