page-login {
    .bajar {
        padding-top: 30px;
        padding-bottom: 10px;
    }
    .textoAzul {
        color: color($colors, gris);
        font-size: 1.1em;
        width: 75%;
        margin-left: 12.5%;
        margin-top: 30px;
        font-weight: 400;
    }
    ion-input {
        margin-top: .5em;
    }
    .row {
        margin-left: 0!important;
    }
    .inicioSesion {
        margin-top: 2em;
        background-color: color($colors, verde)!important;
        box-shadow: 0 2px 2px 0 #C8C7C7;
        height: 50px;
    }
    .alto50 {
        height: 50px!important;
    }
    .item-ios.item-block .item-inner {
        border: 1px solid color($colors, gris);
        margin-bottom: .5em;
    }
    .item-input ion-label {
        color: grey;
    }
    .noMargin {
        margin: 0;
        padding: 0;
    }
    .noLogin {
        color: #287195;
        text-align: center;
        margin-left: 20%;
        padding: .5em 2em;
        border-radius: 20px;
        text-transform: lowercase;
        background: rgba(0, 182, 164, 0.021);
    }
    .noLogin:active {
        background: rgba(0, 182, 164, 0.103);
    }
    .item-ios.item-block .item-inner {
        border: none!important;
        border-bottom: 0.55px solid #c8c7cc!important;
    }
    .item-ios {
        background-color: transparent!important;
    }
    .textoOlvido{
      color:#00b6a3;
      text-align: center;
      margin-bottom: 20px;
      font-weight: 600;
      border: 1px solid #00b6a3;
      padding-top: .5em;
      padding-bottom: .5em;
      border-radius: 10px;
      width: 50%;
      margin-left: 25%;
    }
    .containerInputs{
      margin-top:35vh;
    }
    .register{
      text-transform: lowercase;
      width: 100%;
      text-align: center;
    }
    .containerBotones{
      display: flex;
      justify-content: space-around;
      align-items: center
    }
}
