page-profile {
    .cargaImagen img{
        height: 140px;
        margin-left: calc( 50% - 70px);
        margin-top: 10px;
        width: 140px;
        border-radius: 50%;
    }
    h4 {
        text-align: center;
    }
    ion-input {
        height: 25px;
        // border-bottom: 1px solid #287195;
    }
    .item-iner,
    .item-input-has-focus,
    .item-block .item-md .item-input .item-label-stacked .input-has-value .item-input-has-value {
        border-bottom-color: none!important;
    }
    .alto50 {
        height: 50px!important;
        margin-top: 15px;
        background: #00B6A3;
    }
    .tituloCambioContraseña{
      text-align: center;
      width:50%;
      margin-left:25%;
      margin-top:40px;
          h4{
            font-size:1.2em;
            color:#00719A;
          }
    }
    .labelDatos{
      color:#00B6A3;
      font-size:1em;
      margin-top:0;
    }
    .dato{
      margin-top:0;
      margin-bottom:0;
      color:#96999C;
      font-size:1.1em;
    }
}
