page-detail-recipe {
  .cuadrados{
    height: 80px;
    background:#F5F5F5;
    width:95%;
    margin-left:5%;
    color:#444D4D;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
      p{
        // margin-top:-5px;
        font-size:.8em;
        margin-top:15px;
      }
      .cantidad{
        color:#9483C8;
        font-size:1.8em;
        margin-top:10px;
      }
    }
    .nombrePastilla{
    color:#00B6A3;
    font-size:1.3em;
    font-weight: 400;
    margin-top:10px;
    text-align: right;
    margin-right:30px;
  }
  .cantidadDeDias, .inicio{
    color:#444D4D;
  }
  .tituloDeLasTomas{
    color:#00B6A3;
    font-size:1.2em!important;
    font-weight:600;
    text-align: center;
    margin-top:30px!important;
    margin-bottom:0;
  }
  img{
     width:50px!important;
     height: auto;
  }
  .down{
    margin-bottom: 30px;
    border-bottom: .5px solid #DFDFDF;
  }
}
